// data comes here
-
  var header = '#about me'
  var imagePath = 'asset/image/about-me-avatar.jpg'
  var myFullName = 'Timotei Dumitru'
  var myTitle = 'Junior Front-End Developer'
  var mySlogan = 'The fool didn\'t know it was impossible. So he did it.'
  var achievements = {
    title: 'contasd',
    content: 'cwontasd'
  }
  var myDocuments = {
    title: "Check out some cool stuffs!",
    buttonList: [
      {
        url: "https://github.com/ShokadinuEU/my-cv-tim",
        icon: "github",
        label: "Click to visit GitHub project source!"
      },
      {
        url: "asset/doc/Resume__Timotei-Dumitru.docx",
        icon: "file-word",
        label: "Click to download my resume."
      },
      {
        url: "asset/doc/Cover-Letter__Timotei-Dumitru.docx",
        icon: "file-word",
        label: "Click to download my cover letter."
      }
    ]
  } 

// the view comes here
#about-me
.about-me
  .about-me__header=header
  .about-me__avatar-wrapper
    img.about-me__avatar(src=imagePath)
  .about-me__full-name=myFullName
  .about-me__full-title=myTitle
  .about-me__full-mySlogan=mySlogan

  .about-me__title=achievements.title
  .about-me__content=achievements.content

  .about-me__title=myDocuments.title
  .about-me__link-list
    each document in myDocuments.buttonList
      a(href=document.url)
        span=document.label
        span(class=`my-cv__icon--${document.icon}`)